# Template para outros desenvolvedores
# Copie este arquivo para .env e preencha com seus dados

# Configurações do MongoDB
MONGO_URI=mongodb+srv://SEU_USUARIO:SUA_SENHA@cluster0.6mtltjd.mongodb.net/SEU_BANCO?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=creche_el_shadday

# Configurações do Flask
SECRET_KEY=SUA_CHAVE_SECRETA_AQUI
DEBUG=True

# Configurações de upload
UPLOAD_FOLDER=uploads
MAX_CONTENT_LENGTH=16777216